body{
    margin: 0 !important;
}

.logo {
    height: 100%;
    width: 100%;
    
  }

  .logo-name{
    font-family: 'Great Vibes', cursive;

  }

  #top-bar-wrapper{
      height: 200px;
      margin: 0 !important;
      overflow: visible;
  }
  .container-fluid{
      background-color: black !important;

  }